@charset "UTF-8";
    *{
        padding: 0px;
        margin:0px;
    }
    .bg {
        background: url('../../images/icon/背景.jpg');
        height:650px;
        text-align: center;
        line-height: 600px;
        background-attachment: fixed;
    }
    .bg-blur {
        float: left;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-filter: blur(11px);
        -moz-filter: blur(11px);
        -o-filter: blur(11px);
        -ms-filter: blur(11px);
        filter: blur(11px);
    }

    .container{
        position: absolute;
        left:36%;
        width:440px;
        height:450px;
        margin-top:100px;
        background: white;
        box-shadow: 2px 3px 10px 1px #969696;
        border-radius: 10px;
    }
    .panel-title{
        text-align: center;
    }
    .panel-body{

        height:300px;
    }

    label{
        width:330px;
        margin:30px;
    }
    label input{
        margin-left:10px;
        width:90%;
    }
    #submit{
        width:100%;
        height:50px;
        margin-top:20px;
        margin-bottom: 10px;
    }

    img{
        width:37px;
        height:35px;
    }

    #logo{
        position: absolute;
        top: 0px;
        left:14%;
        width:10%;
        height:14%;
        box-shadow: 2px 3px 10px 1px #969696;
    }

