@charset "UTF-8";
 * { margin: 0; padding: 0; }
        body{
            padding-top: 70px;
        }
        li{
            list-style-type: none;
        }
        a{
            text-decoration:none;
            color:#949494;
        }
        a:hover{
            text-decoration:none;
        }


        /*start nav*/
        #navlist{
            position: absolute;
            top: 51px;
            width:95px;
            height:140px;
            background: #ffffff;
            box-shadow: 1px 1px 10px 1px #969696;
        }
        #navlist li{
            margin-top: 5px;
            margin-bottom: 7px;

        }
        #navlist li a{
            text-decoration:none;
            color:#949494;
            margin-left: 20px;
        }
        #navlist li a:hover{
            color:deepskyblue;
        }

        .v-enter,
        .v-leave-to{
            opacity: 0;
            transform: translateY(50px);
        }

        .v-enter-active,
        .v-leave-active{
            transition: all 0.4s ease;
        }

        /* end nav*/

        /* start search*/
        #logo{
            width:120px;
            height:108px;
            margin-left:50px;
        }

        .search{
            margin-top:-18px;
            position: relative;
            box-shadow: 2px 1px 5px 1px #ABABAB;
        }
        .search form{
            position: absolute;
            top:20%;
            right:30%;
        }
        .search form input{
            height:45px;
        }
        .search form button{
            height:45px;
            width:70px;
            margin-left: -10px;
        }

        .search ul{
            margin-top:10px;
        }
        .search ul li{
            float: left;
            margin-right:10px;
        }
        .search ul li a:hover{
            color:deepskyblue;
            text-decoration:none;
        }

        .bottombar{
            width:100%;
            height:48px;
            float: left;
            margin-top:10px ;
        }
        .bottombar label{
            width:220px;
            height:48px;
            text-align: center;
            line-height: 48px;
            background: deepskyblue;
            color: white;
            float: left;
            font-size: 18px;
        }
        .bottombar #rightbar li{
            width:100px;
            height:48px;
            margin-left: 28px;

        }
        .bottombar #rightbar li a{
            font-size: 18px;
            line-height: 40px;
        }
        .bottombar #rightbar li:first-child{
            margin-right: -14px;
        }
        .bottombar #rightbar li img{
            width:21px;
            height:20px;
        }
        #subnav{
            position:absolute;
            width:220px;
            height:380px;
            top:156px;
            left:105px;
            background:deepskyblue ;
            text-align: center;
        }
        #subnav li{
            width:100%;
            margin:5px 0;

        }
        #subnav li a{
            color: white;
            margin:0 0px 20px -20px;
            font-size:15px;
        }
        #subnav li a:hover{
            color:#87CEFF;
            text-decoration:none;
        }
        /*end search */

        /*start main*/
        .series{
            display: block;
            float: left;
        }
        .main .series .top{
            height:30px;
            margin:10px 0;
            font-size:16px;
            font-weight:bold;
        }
        .main .series .top span{
            width:7px;
            height:20px;
            background: black;
            float: left;
            margin-right:20px;
        }
        .main .content img{
            width:200px;
            height:180px;
        }
        .explain span{
            display: block;
            margin:7px 0;
            color:black;
        }
        .content li{
            padding: 2px;
            width: 207px;
            height:314px;
            float: left;
            margin:0 10px 10px;
            border:2px solid white;
			position:relative;
        }



        /* end main*/
        #return{
            padding:2px;
            position: fixed;
            bottom:30px;
            right:10px;
            width:40px;
            height:40px;
            background: #D4D4D4;
            font-size:11px;
            text-align: center;
            border-radius: 50%;
        }
        #return img{
            width:22px;
            height:22px;

        }
        #return a:hover{
            color: black;
        }
        #return:hover{
            background: lightsteelblue;
        }

        #end{
            width:205px;
            height:100px;
            margin:110px 0 10px 600px;
        }
		.lower{
            z-index: 100;
            position: absolute;
            width: 200px;
            height:307px;
            background:#D4D4D4;
            opacity: 0.7;
        }

        .footer{
            width:100%;
            height:100px;
            text-align: center;
            border-top: 1px solid #DBDBDB;
            background: #EBEBEB;
            line-height: 50px;
            margin-top: 30px;
        }

        #sidebar{
            position:fixed;
            right:0px;
            bottom:80px;
            width:50px;
        }
        #sidebar #shopcarbar{
            width:40px;
            height:40px;
            margin-bottom: 4px;

        }
        #collectbar{
            width:44px;
            height:44px;
        }
        
      .u-flyer{
     display: block;
     width: 50px;
     height: 50px;
     border-radius: 50px;
     position: fixed;
     z-index: 9999;
    }