@charset "UTF-8";
 * { margin: 0; padding: 0; }
    body{
        padding-top: 50px;
    }
    li{
        list-style-type:none;
    }
    a{
        text-decoration:none;
        color:#949494;
    }
    a:hover{
        text-decoration:none;
    }

/*start nav*/
    #navlist{
        position: absolute;
        top: 51px;
        width:95px;
        height:140px;
        background: #ffffff;
        box-shadow: 1px 1px 10px 1px #969696;
    }
    #navlist li{
        margin-top: 5px;
        margin-bottom: 7px;
    }
    #navlist li a{
        text-decoration:none;
        color:#949494;
        margin-left: 20px;
    }
    #navlist li a:hover{
        color:deepskyblue;
    }

    .v-enter,
    .v-leave-to{
        opacity: 0;
        transform: translateY(50px);
    }

    .v-enter-active,
    .v-leave-active{
        transition: all 0.4s ease;
    }

    /* end nav*/

    /* start content*/
    .content{
        width:100%;
        height:1100px;
        background:	#EAEAEA ;
        padding: 10px;
        box-sizing: border-box;
    }
    .leftsidebar{
        width:21%;
        height:700px;
        margin-right: 20px;
        margin-left: 14px;
        float: left;
    }

    #userInfo{
        width:100%;
        height:32%;
        margin-bottom: 15px;
        background: white;
        position: relative;
    }
    #user #userHead{
        width:80px;
        height:80px;
        border-radius: 50%;
        margin: 15px 0 0 80px;
    }
    #user #signbtn{
        width:70px;
        height:30px;
        background:red;
        color:white;
        position: absolute;
        top:40px;
        right:0;
        border-top-left-radius:10px;
        border-bottom-left-radius:10px;
        box-shadow: 1px 2px 8px 1px #8E8E8E;
        cursor: pointer;
    }
    #user span p{
        margin:5px 0 0 24px ;
    }
    #calendar{
        pointer-events:none;
    }
    #signin{
        margin-top:70px;
    }
    #sign_note {
        text-align: center;
        position: relative;
        padding: 15px;
        font-size: 14px;
        pointer-events: none;
    }
    .userbox{
        width:100%;
        height:120px;
        padding: 20px;
        box-sizing: border-box;
    }
    .userbox img{
        width:20px;
        height:20px;
        display: block;
        margin-left: 18px;
    }
    .userbox span{
        display: block;
    }
    .userbox span:nth-child(3),.userbox span:nth-child(4){
        float: left;
        margin:20px 20px 0 20px;
    }

    #list{
        width:100%;
        height:65%;
        background:white;
        padding: 10px;
        box-sizing: border-box;
    }
    .listhead img{
        width:30px;
        height:30px;
        margin-left: 50px;
        margin-bottom: 10px;
    }
    .listhead{
        border-bottom: 1px solid  red;
        font-size: 18px;
    }
    .listcontent li{
        margin:20px 0 10px 60px;
        font-size: 15px;
    }
    .listcontent li a:hover{
        color: red;
    }
    /* end content */


    /* start rightsidebar*/
    .rightsidebar{
        width:76%;
        padding-bottom: 30px;
        float: left;
        background: white;
    }
    .rightTop{
        width:100%;
    }
    .rightTop li{
        margin:20px 26px;
        width:236px;
        height:100px;
        float: left;
        color: white;
    }
    .rightTop li:first-child{
        background: #8ed1ee;
    }
    .rightTop li:nth-child(2){
        background: #fcd68d;
    }
    .rightTop li:last-child{
        background: #ed6f25;
    }
    .rightTop li img{
        width:60px;
        height:60px;
        float: left;
    }
    .rightTop .model{
        width:100px;
        height:100%;
        float: left;
    }
    .rightTop .model:first-child{
        padding:20px;
    }
    .rightTop #lookButton{
        width:87px;
        height:24px;
        background: white;
        color:#fcd68d;
        border-radius: 20px;
        margin-top:10px;
        border:none;
    }
    .rightTop #lookButton:hover{
        background: #fab32a;
        color:white;
    }
    #look{
        color: #000;
    }
    #look .modal-body div{
        margin:20px auto;
    }
    #look .modal-body  span{
        padding:3px;
        background: red;
        margin-right: 10px;
    }
    #look .modal-body p{
        color: #777777;
        margin:10px 0 0 10px;
    }

    .rightTop li:last-child a{
        padding:3px 16px;
        background: white;
        color:#fcd68d;
        border-radius: 20px;
        margin-top:20px;
    }
    .rightTop li:last-child a:hover{
        background: #fab32a;
        color:white;
    }
    .rightTop li:last-child h3{
        margin-bottom: 23px;
    }
    .rightContent li{
        width:141px;
        margin:25px 16px;
        color: #777777;
        float: left;
    }
    .rightContent li img{
        width:100%;
        height:135px;
        margin-bottom: 10px;
    }
    .rightContent h4{
        margin-left: 25px;
    }
    .rightContent span{
        display: block;
        width:100%;
        text-align:center;
    }
    .rightContent li span:nth-child(3){
        padding: 1px;
        margin-top: -4px;
        margin-bottom: 6px;
        background: #777777;

    }
    .rightContent li a{
        padding: 2px 40px;
        color:white;
        border-radius: 10px;
        background: #ed6f25;
    }
    .rightContent li a:hover{
        background: #ff5e00;
        color:white;
    }
    .rightContent h5{
        float: right;
        margin:-27px 33px 0 0 ;
    }


    /* end recommand*/
    .footer{
        width:100%;
        height:100px;
        text-align: center;
        border-top: 1px solid #DBDBDB;
        background: #EBEBEB;
        line-height: 50px;
        margin-top:10px;
    }